@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*::selection {
    background-color: white;
    color: #000;
}

body {
    background-color: #262a2f;
}

.container {
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.container p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container input {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #494eea;
    margin: 10px 0 20px;
    color: #494eea;
}

.container button {
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #494eea;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    cursor: pointer;
    font-weight: 500;
}


.container #boximg {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.container #boximg img {
    width: 100%;
    padding: 10px;
}

.container #boximg.showimg {
    max-height: 300px;
    border: 1px solid #d1d1d1;
    margin: 10px auto;
}